<h2>Login with Your Registered Details!</h2>

<form action="/session" method="post">
	<label>email</label>
	<input type="text" name="email">
	<label>password</label>
	<input type="text" name="password">
	<button>login</button>
</form>

<a href="/users"><h2>If you haven't registered click here!</h2></a>
