 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>General Information</h1>	


<h3><%= @breed %></h3>
<% @comments.each do |comment| %>
	<hr>
	<p><%= comment.body %></p>
	<div><%= comment.user.email %></div>
<% end %>

<form action="/commentsbreeds" method="post">
	<input type="hidden" name="breed" value="<%= @breed %>">
	<textarea name="body" cols="30" rows="10"></textarea>
	<button>post comment</button>
</form>


</body>
</html>