<h3>Find a New Home for Your Dog</h3>

<form action="/dogs" method="post">
	<label>name</label>
	<input type="text" name="name">
	<label>breed</label>
	<input type="text" name="breed">
	<label>image_url</label>
	<input type="text" name="image_url">
	<label>description</label>
	<input type="text" name="description">
	<label>sex</label>
	<input type="text" name="sex">
	<label>available from</label>
	<input type="text" name="available_date">
	<label>postcode</label>
	<input type="text" name="postcode">
	<button>add your dog!</button>
</form>



